@font-face {
  font-family: 'HYXiaoBoZheZhiTiJ';
  src: url('./汉仪晓波折纸简体.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LESLIE-Regular';
  src: url('./LESLIEB_.ttf');
  font-weight: normal;
  font-style: normal;
}
